@inherits LayoutComponentBase

<PageTitle>Handy Man's Tool</PageTitle>

@Body

@*Old code:*@
@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 logindisplay">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="bottom-row px-4">
            <a href="">
                <img src="/images/marathonLogo246x205.png" width="40"/>
                <span class="fs-4">MMT</span>
            </a>
        </div>
    </main>
</div>*@